.slick-dots{
  
    
    width: 65%;
    position: absolute;
    bottom: -10%;
   
}
.slick-dots li button::before  {
    font-size:10px;
}
@media screen and (max-width: 370px) {
    .slick-dots {
       visibility: hidden;
    }
  }